<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dwell.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A368D688738435DDD41BA88E477693429235A025</string>
				<key>dateExpires</key>
				<string>13/03/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A368D688738435DDD41BA88E477693429235A025</string>
						<key>dateExpires</key>
						<string>13/03/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JG8256BQ77</string>
						<key>name</key>
						<string>Dwellproperties.ai LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JG8256BQ77.com.dwellproperties.dwell</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>JG8256BQ77</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>dwell.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5ac6a796-ab6f-4871-a721-bd1024e90029</string>
				<key>dateExpires</key>
				<string>13/03/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.dwellproperties.dwell</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JG8256BQ77</string>
				<key>name</key>
				<string>Dwellproperties.ai LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
